.order-btn {
  background-color: #0369a1;
  border-radius: 7px !important;
}

.or-input-group {
  margin-bottom: 15px;
}

.or-input-group label {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.or-input-group .or-input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  line-height: 40px;
  padding: 0px 10px;
  color: white !important;
}

.or-main {
  position: relative;
}

.or-detail {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
